<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="../../../assets/imgs/placeholder.png"
      cardTitle="TITULO DE EXEMPLO PARA MOSTRAGEM"
      cardDescription="Lorem oasdkaoskdaçsdklajskjdhaçlsdaçlskdjlaskdjçalsdkjasçldkajsdçlksajds"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="../../../assets/imgs/placeholder.png"
      cardTitle="Card menor para demonstração"
    >
    </app-small-card>
    <app-small-card
      photoCover="../../../assets/imgs/placeholder.png"
      cardTitle="Pequeno card para mostrar"
    >
    </app-small-card>
    <app-small-card
      photoCover="../../../assets/imgs/placeholder.png"
      cardTitle="O card está pequeno agora"
    >
    </app-small-card>
  </div>

</div>
